<launch>
<arg name="paused" default="false"/>
<arg name="use_sim_time" default="true"/>
<arg name="gui" default="true"/>
<arg name="headless" default="false"/>
<arg name="debug" default="false"/>
<!-- We resume the logic in empty_world.launch -->
<include file="$(find gazebo_ros)/launch/empty_world.launch">
<arg name="debug" value="$(arg debug)" />
<arg name="gui" value="$(arg gui)" />
<arg name="paused" value="true"/>
<arg name="use_sim_time" value="$(arg use_sim_time)"/>
<arg name="headless" value="$(arg headless)"/>
</include>

<arg name="x1" default="0.022375"/><!--"0.1126"-->
<arg name="y1" default="0.00215"/><!--"0.0075"-->
<arg name="z1" default="0.022"/>

<param name="robot1" command="$(find xacro)/xacro '$(find RMD)/urdf/RMD1.xacro'" />

<node name="urdf_spawner1" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
args="-urdf -model dif1 -param robot1 -x $(arg x1) -y $(arg y1) -z $(arg z1) -Y -1.5707963267949">
</node>


</launch>
